name: nix-setup
description: Nix Setup

inputs:
  cachix_token:
    description: Cachix auth token
    required: true
  nix_conf:
    description: Appended to /etc/nix/nix.conf

runs:
  using: composite
  steps:

    - name: Nix Setup
      uses: cachix/install-nix-action@v31
      with:
        extra_nix_config: |
          accept-flake-config = true
          ${{ inputs.nix_conf }}

    - shell: bash
      run: cat /etc/nix/nix.conf

    - name: Cachix Setup
      uses: cachix/cachix-action@v16
      with:
        name: ${{ github.event.repository.name }}
        authToken: ${{ secrets.CACHIX_AUTH_TOKEN }}

    - name: Set Env
      shell: bash
      run: |-
        SYSTEM=$(nix eval --impure --raw --expr builtins.currentSystem)
        cat <<EOF >> $GITHUB_ENV
        SYSTEM=$SYSTEM
        SYSTEM_JOB=$SYSTEM-${{ github.job }}
        EOF
