on:
  push:
  pull_request:

jobs:

  check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - uses: ./.github/workflows/nix-setup
        with:
          cachix_token: ${{ secrets.CACHIX_AUTH_TOKEN }}
          # checks.links requires net
          nix_conf: extra-experimental-features = impure-derivations
      - name: Check
        run: nix flake check

  build:
    needs: check
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-22.04
          - ubuntu-22.04-arm
          - macos-15
          - macos-15-intel
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - uses: ./.github/workflows/nix-setup
        with:
          cachix_token: ${{ secrets.CACHIX_AUTH_TOKEN }}
      - name: Build
        run: nix build . .#devShells.$SYSTEM.default
