on:
  push:
  pull_request:

jobs:

  check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - uses: ./.github/workflows/nix-setup
        with:
          cachix_token: ${{ secrets.CACHIX_AUTH_TOKEN }}
          # checks.links requires net, flakes and nix-command are normally enabled
          # buta overriding means they must be re-specified
          nix_conf: |-
            extra-experimental-features = ca-derivations flakes impure-derivations nix-command
      - name: Check
        run: nix flake check

  build:
    needs: check
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-22.04
          - ubuntu-22.04-arm
          - macos-15
          - macos-15-intel
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - uses: ./.github/workflows/nix-setup
        with:
          cachix_token: ${{ secrets.CACHIX_AUTH_TOKEN }}
      - name: Build
        run: nix build . .#devShells.$SYSTEM.default

  merge-dev:
    needs: build
    runs-on: ubuntu-latest
    if: github.event_name == 'push' && github.ref == 'refs/heads/dev'
    permissions:
      contents: write
    steps:
      - name: Fast-forward merge
        uses: actions/github-script@v7
        with:
          script: |-
            await github.rest.git.updateRef({
              owner: context.repo.owner,
              repo: context.repo.repo,
              ref: 'heads/master',
              sha: context.sha,
              force: false
            });
