on:
  push:
  pull_request:

jobs:
  validate:

    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-22.04
          - ubuntu-22.04-arm
          - macos-15
          - macos-15-intel
    runs-on: ${{ matrix.os }}

    steps:

      - name: Checkout
        uses: actions/checkout@v6

      - name: Nix Setup
        uses: cachix/install-nix-action@v31

      - name: Cachix Setup
        uses: cachix/cachix-action@v16
        with:
          name: ${{ github.event.repository.name }}
          authToken: ${{ secrets.CACHIX_AUTH_TOKEN }}

      - name: Check
        run: nix flake check

      - name: Build
        run: |-
          nix build \
            . \
            .#devShells.$(nix eval --impure --raw --expr builtins.currentSystem).default
