name: Standards Compliance

on:
  push:
  pull_request:

jobs:
  validate:
    name: KingArrrt Engineering Standards
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Nix Setup
        uses: cachix/install-nix-action@v31

      - name: Validate Standards
        run: nix flake check
